


body{
    margin: 0;
    padding: 0;
}

nav{
    width: 100vw;
    height: 75px;
    background-color: #036ce2;
    position: fixed;
}

a{
    text-decoration: none;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

.universal{
    height: 55px;
    width: 90.58;
    margin-left: 81px;
    margin-top: -6px;
}


.cart{
    float: right;
    margin-top: -37px;
    margin-right: 594px;
}

.seperator{
height: 35px;
width: 1px;
background-color: white;
margin-top: -37px;
margin-right: 574px;

float: right;
}

.search{
    margin-top: -50px;
    margin-left: 70px;
    float: right;
}

#hero{
    background:  url(https://www.universalorlando.com/webdata/k2/en/us/files/Images/universal-hagrids-magical-creatures-motorbike-adventure-a.jpg?);
    width: 100vw;
    height: 821px;
    margin-top: -10.5px;
    background-repeat: no-repeat;
        background-size: cover
      

}

h3{
    color: #fff;
}