


body{
    margin: 0;
    padding: 0;
}

nav{
    width: 100vw;
    height: 75px;
    background-color: #036ce2;
   
}

a{
    text-decoration: none;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

.universal{
    height: 55px;
    width: 90.58;
    margin-left: 81px;
    margin-top: -6px;
}


.cart{
    float: right;
    margin-top: -37px;
    margin-right: 594px;
}

.seperator{
height: 35px;
width: 1px;
background-color: white;
margin-top: -37px;
margin-right: 574px;

float: right;
}

.search{
    margin-top: -50px;
    margin-left: 70px;
    float: right;
}

#hero{
    background:  url(https://www.universalorlando.com/webdata/k2/en/us/files/Images/universal-hagrids-magical-creatures-motorbike-adventure-a.jpg?);
    width: 100vw;
    height: 821px;
    margin-top: -50.5px;
    background-repeat: no-repeat;
        background-size: cover
      

}

h4{
    color: #fff;
    text-align: center;
    padding-top: 340px;
    font-size: 40px;
}

h3{
    color: #fff;  
    text-align: center;
    font-size: 25px;
    margin-top: -45px;
}

#details{
    background-color: #fff;
    width: 147.8px;
    height: 32px;
    text-align: center;
    margin-left: 45%;
    border-radius: 25px;
    
}

h2{
    color: #036ce2;
    font-weight: bolder;
    font-family: "HCo Gotham","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 8px;
}
#quickbar{
    background-color: firebrick;
    width: 1146px;
    height: 93px;
    margin-left: 20%;
    margin-top: -50px;
    border-radius: 25px;
    display: inline-block;

    
}

.quickbarlink{
    margin-left: 35px;
    align-items: center;
}

#divider{
      background-color: grey;
      width: 1px;
      height: 93px;
      display: inline-block;
      margin: 5%;
      margin-top: 0px;
      
      
}

.parktickets{
    width: 83.95;   
    height: 21px;
}

a{
    border-right: 1px solid black;
    height: 93px;
    width: 50px;
    padding-right: 17px;   
}
